<% provide(:title, 'Contact') %>
	<h1>Contact Us</h1>
	<p>
		This is a test contact page for the
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application. (If you even care, haha).
	</p>